<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <link rel="stylesheet" href="../css/chatroom.css">

</head>

<body>


  <script type="text/javascript">
    var socket = io();
    var _rooms = [];

    $(function () {
      $("form").submit(function () {
        var mensaje = $("#msj").val();
        if (mensaje == '') return false;
        socket.emit('message', mensaje);
        $("#msj").val('').focus();
        return false;
      });

      $("#channel").change(function () {
        socket.emit('change channel', $("#channel").val());
      });
    });


    socket.on('message', function (msg, id) {
      $("#message").append($('<li>').text(id + ': ' + msg));
    });

    socket.on('render rooms',function(rooms){
      let select = document.getElementById('channel');
      // select.innerHTML = '';
    //   $('#channel')
    // .find('option')
    // .remove()
    // .end()
    // .append('<option value="lobby">lobby</option>')
    // // .val('whatever')

    for (const room of rooms) {
       if  (!_rooms.includes(room) ) {
         _rooms.push(room);
         let opt = document.createElement('option');
         opt.innerHTML = room;
         select.appendChild(opt);
       }
      }

    });
    function newroom() {
      // var groupname;
      groupname = document.querySelector('.groupname').value;
      // groupname.value = '';
      if(groupname){
        // select = document.getElementById('channel');
        // var opt = document.createElement('option');
        socket.emit('agrega room', groupname);
      }
   
    }
  </script>

  <footer id="footer">

    <select name="channel" id="channel">
      <option value="lobby">Lobby</option>
    </select>
    CHATROOM</footer>

  <div id="controls">

    <div id="group">
      <button id="newg" onclick="newroom()"> + Nuevo grupo
        <input id="groupname" class="groupname" type="text" placeholder="Escribir">
      </button>
      <button id="newc">+ Nuevo chat </button>
    </div>

    <form action="">
      <ul id="message"></ul>
      <input type="text" id="msj" placeholder="Escribir..">
      <input type="submit" value="Enviar">
    </form>

  </div>
  </div>

  </div>


</body>

</html>