<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <link rel="stylesheet" href="../css/chatroom.css">

</head>

<body>
  <script type="text/javascript">
    var socket = io();
    var _rooms = [];
    $(function () {
      $("form").submit(function () {
        var mensaje = $("#msj").val();
        if (mensaje == '') return false;
        socket.emit('message', mensaje);
        $("#msj").val('').focus();
        return false;
      });

      $("#channel").change(function () {
        socket.emit('change channel', $("#channel").val());
        document.getElementById('title').innerHTML = $("#channel").val();
        // document.getElementById('title').innerHTML=("channels").val();
      });

    });


    socket.on('message', function (msg, id) {
      $("#message").append($('<li>').text(id + ': ' + msg));
    });

    socket.on('render rooms', function (rooms) {
      let select = document.getElementById('channel');
      for (const room of rooms) {
        if (!_rooms.includes(room)) {
          _rooms.push(room);
          let opt = document.createElement('option');
          opt.innerHTML = room;
          select.appendChild(opt);
        }
      }

    });
    function showinput() {
      let name = document.querySelector("#groupname");
      name.style.display = "flex";
      let usuariosgrupo = document.querySelector("#usersgroup");
      usuariosgrupo.style.display = "block";
      let checkbutton = document.querySelector("#checkbtn");
      checkbutton.style.display = "block";
    }


    function newroom() {
      groupname = document.querySelector('.groupname').value;
      if (groupname) {
        socket.emit('agrega room', groupname);
      }
    }
  </script>

</script>
<footer id="footer">
    <select name="channel" id="channel">
    <option value="lobby">Lobby</option>
  </select>
    <h1 id="title">lobby</h1>
    <h1>Username</h1>
</footer>

<div class="app">
    <div id="controls">
        <form action="">
            <ul id="message"></ul>
            <input type="text" id="msj" placeholder="Escribir..">
            <input type="submit" value="Enviar">
        </form>

    </div>
    <div class="group">
        <div id="buttons">
            <button onclick="Userlist()" class="dropbtn">+ Nuevo chat</button>
            <div id="myDropdown" class="group-content">
            </div>
            <button id="newc" onclick="showinput()" class="dropchat">+ Nuevo grupo 
            <input id="groupname" class="groupname" type="text" placeholder="Escribir">
            <div id="usersgroup">
                <input type="checkbox" name="" value=""> Usuario 1 <br>
                <input type="checkbox" name="" value=""> Usuario 2 <br>
                <input type="checkbox" name="" value=""> Usuario 3 <br>
            </div>
            <h1 id="checkbtn" onclick="newroom()">Ok</h1>
            </button>
        </div>

        <div id="users">
            <h1>USUARIOS CONECTADOS</h1>
        </div>
    </div>

</div>
  <!-- Lista de chats -->
  <script>
    let users =document.getElementById('users');
    socket.on('connectedlist',function(name){
      let h1= document.createElement('h1');
      h1.innerHTML=name;
      users.append(h1);
    });
    _nameusers = [];
    drop = document.getElementById('myDropdown');
    socket.on('actualizanames', function (arreglo) {
      for (const iterator of arreglo) {
        if (!_nameusers.includes(iterator.name)) {
          _nameusers.push(iterator.name);
          let a = document.createElement('a');
          a.innerHTML = iterator.name;
          a.id = iterator.id;
          a.onclick = function () {
            privatemessage(iterator.id, iterator.name);
          };
          drop.append(a);
        }
      }
      console.log(_nameusers);


    });
    function privatemessage(id, name) {
      console.log("mensaje privado para" + name);
      console.log("con un id de" + id);
      document.getElementById('title').innerHTML = name;
      socket.emit('privatemessage', id);
    }

    function Userlist() {
      document.getElementById("myDropdown").classList.toggle("show");
      socket.emit('agrega name', name);
    }
    // window.onclick = function (event) {
    //   if (!event.target.matches('.dropbtn')) {
    //     var dropdowns = document.getElementsByClassName("dropdown-content");
    //     var i;
    //     for (i = 0; i < dropdowns.length; i++) {
    //       var openDropdown = dropdowns[i];
    //       if (openDropdown.classList.contains('show')) {
    //         openDropdown.classList.remove('show');
    //       }
    //     }
    //   }
    // }
  </script>


</body>

</html>