* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: #2c3e50;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.interface{
    width: 100vw;
    height: 100vh;
    background-color:#F1F1F1;
   display: flex; 
   justify-content: center;
   background-image: url(../assets/background.jpg);
   /* background: rgba(210,255,82,1);
background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 17%, rgba(145,232,66,1) 65%, rgba(145,232,66,1) 66%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(17%, rgba(210,255,82,1)), color-stop(65%, rgba(145,232,66,1)), color-stop(66%, rgba(145,232,66,1)));
background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 17%, rgba(145,232,66,1) 65%, rgba(145,232,66,1) 66%);
background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 17%, rgba(145,232,66,1) 65%, rgba(145,232,66,1) 66%);
background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 17%, rgba(145,232,66,1) 65%, rgba(145,232,66,1) 66%);
background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 17%, rgba(145,232,66,1) 65%, rgba(145,232,66,1) 66%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 ); */

}
#left{
    margin-top: 5%;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 30%;
    height: 70%;;
    background-color: white;
    border-radius: 10px solid green;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

 #username {
     margin-top: 40%;
    padding: 10px 15px;
    font-size: 100%;
    color: gray;
    background: transparent;
    border: none;
    border-bottom: 4px solid #34495e;
    width: 60%;
    text-align: center;
}

#joinBtn{
    background-color: #adadad;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 60%;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 100%;
}
#title{
    padding: 10px 15px;
    font-size: 200%;
    color: white;
    background-color: #009688;
    border: none;
   
    width: 100%;
    text-align: center;
}