* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: #2c3e50;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.interface{
    width: 100vw;
    height: 100vh;
    background-color:#F1F1F1;
   display: flex; 
   justify-content: center;
   background-image: url(../assets/background.jpg);
   

}
#left{
    margin-top: 5%;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 30%;
    height: 70%;;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px solid green;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

 #username {
     margin-top: 20%;
    padding: 10px 15px;
    font-size: 100%;
    color: gray;
    background: transparent;
    border: none;
    border-bottom: 4px solid #34495e;
    width: 60%;
    text-align: center;
}

#joinBtn{
    background-color: #adadad;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 60%;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 100%;
}
#title{
    padding: 10px 15px;
    font-size: 200%;
    color: white;
    background-color: #009688;
    border: none;
   
    width: 100%;
    text-align: center;
}
@media (max-width: 375px){
    #left{
        margin-top: 35%;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 70%;
        height: 50%;;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px solid green;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    }
    #title{
        padding: 10px 15px;
        font-size: 150%;
        color: white;
        background-color: #009688;
        border: none;
        width: 100%;
        text-align: center;
    }
    #sub{
        padding: 10px;
    }
}